<header class="site-header">

  <div class="wrapper">
    <img src="uploads/logo.png" style="width: 18%; margin: 3px 15px 3px 3px; float: left;"/>
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.minima.nav_pages | default: default_paths -%}
    {%- assign page_titles = site.pages | map: 'title' | compact %}
    <a class="site-title" rel="author" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>

    {%- unless page_titles == empty %}
      <nav class="site-nav">
        <input type="checkbox" id="nav-trigger" />
        <label for="nav-trigger">
          <span class="menu-icon"></span>
        </label>

        {% include nav-items.html paths = page_paths %}
      </nav>
    {%- endunless %}
    <li><a href="{{ '/about/' | relative_url }}" style="float: right; font-size: 1.5em;">About</a></li>
  </div>
</header>
